{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">

            <!-- Main Image -->
            <section id="mat-outer">
                <div id="mat" role="img" aria-label="4 Dogs looking at camera"></div> 
            <!-- Image Cover Text -->
                <div id="cover-text">
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'homing' %}" class="cover-text py-3">Adopt don't Shop</a>
                        </h4>
                    </div>                
                    <div class="my-5">
                        <h4>
                            <a href="{% url 'products' %}" class="cover-text py-3">Donate Now</a>
                        </h4>
                    </div>
                </div>
            </section>
            <a id="our_story">
                <div class="card-body">
                    <p>Wicklow Animal Welfare is dedicated to rescuing, rehabilitating, and rehoming dogs, cats, and horses from all over the county and beyond. Fiona Gammell of WAW has spent nearly 50 years rescuing animals.

                        Ireland and Irish people love our dogs, spending more money than ever to ensure that the four-legged family members live their best lives. Despite this, Fiona Gammell of Wicklow Animal Rescue is busier than ever.
                        
                        “People in rescue are doing so much unrecognised work,” says The Wicklow Animal Welfare founder. “Sometimes you feel, if we stopped for one day, the impact that would have, it is like what people say about if nurses stop, how disastrous it would be.” 
                        
                        This is not a new problem. As a child, Fiona was using her pocket money to get her neighbours dogs neutered, to prevent unwanted puppies from being born. Fiona and WAW are entirely dependent on donations to run the charity. At the rescue, she vaccinates, neuters, and treats for mange and fleas – all while operating a no-kill policy. 
                        
                        The focus at the shelter is the comfort of the dogs. “I want their time here to be as pleasant as can be,” says Fiona. “Here is like heaven after what they have been through. They have a dry bed, good food, and they get to run free in the fields twice a day. You see it after a few days they start playing like a pup again. Up until that point they have been under so much pressure all their lives.”
                    </p>
                </div>
            </a>
            <div class="col-12 mt-3 left bg-white">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    <img class="card-img-top" src="/media/donate.jpg" alt="Image of dog">
                                </div>
                                <a id="donate" href="{% url 'products' %}" class="post-link">
                                    <h2 class="card-title">Why Donate?</h2></a>
                                <p class="card-text">
                                    We are a small volunteer run charity. We rely entirely on donations to continue our work. 
                                    Check out our donations page to see the different ways you can help, from buying food, toys or treat for the dogs in our care to 
                                    sending us a cash donation to help us pay our electricity bills. Every little really helps. Also do note with tax relief a donation of
                                    $250 from you is worth $400 to the rescue as we can claim tax back on donations over $250. Thank you for any help. 
                                </p>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    <img class="card-img-top" src="/media/adopt.jpg" alt="Image of dog">
                                </div>
                                <a id="adopt" href="{% url 'homing' %}" class="post-link">
                                    <h2 class="card-title">Why adopt?</h2> </a>
                                <p class="card-text">
                                    Adopting a dog saves a life. Dogs at the resuce center are rehabilitated by our volunteers. If you apply to 
                                    adopt we will find the right match for your lifestyle, career, family. We put time and energy into making 
                                    sure you fully understand the work but also the fun involved in taking in a new dog. If you buy a dog you 
                                    contribute to the problems we at rescue see. Breeders don't care if the dog suits your lifestyle and don't give
                                    you any information on training. This means dogs end up at rescue after a few months with people not able to manage,
                                    not to mention the poor mums and dads used for years to make money for these breeders and then dumped like trash.
                                    Please, please, please do the right thing and adopt don't shop!
                                </p>
                                <hr>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a id="volunteer">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="image-container">
                                        <img class="card-img-top" src="/media/volunteer.jpg" alt="Image of dog">
                                    </div>
                                    <h2 class="card-title">Volunteer or Foster</h2>
                                    <p class="card-text"> 
                                        If you can't adopt or donate consider giving your time. Helping us to walk, feed or play with the dogs
                                        or even short term fostering helps us to keep the rescue running smoothly. If interested in giving your time
                                        please contact us through our social media, see the links at the bottom of this page. We really rely on peoples
                                        generosity so if you can please do consider offering help in whatever way you can. 
                                    </p>
                                    <hr>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}