{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Products</h2>
                {% for c in current_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-left text-md-left">
                            {% if search_term or current_categories or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="image-container">
                                        {% if "placeholder" in product.featured_image.url %}
                                        <img class="card-img-top"
                                        src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                        {% else %}
                                        <img class="card-img-top" src=" {{ product.featured_image.url }}" alt="{{ product.name }}">
                                        {% endif %}
                                        <div class="image-flash">
                                            <p class="author">${{ product.price }}</p>
                                        </div>
                                    </div>
                                    <a href="{% url 'product_detail' product.id %}" class="post-link">
                                        <h2 class="card-title">{{ product.name }}</h2>
                                        <p class="card-text">{{ product.description }}</p>
                                        {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                    <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                        <h5 class="card-title">Avg rating:
                                            <span class="fa fa-star {% if product.average_rating > 0 %} checked {% endif %}"></span>
                                            <span class="fa fa-star {% if product.average_rating > 1 %} checked {% endif %}"></span>
                                            <span class="fa fa-star {% if product.average_rating > 2 %} checked {% endif %}"></span>
                                            <span class="fa fa-star {% if product.average_rating > 3 %} checked {% endif %}" ></span>
                                            <span class="fa fa-star {% if product.average_rating > 4 %} checked {% endif %}"></span>
                                        </h5>
                                        {% if user.is_authenticated %}
                                        <ul class="stars btn btn-light list-inline rating-list" data-id="{{ product.id }}" data-rating="{{ product.user_rating }}">
                                            <li onclick="rate(1, {{ product.id }})">
                                                <i class="fa fa-star {% if product.user_rating > 0 %} checked {% endif %}" title="Rate 1" data-rating="1"></i></li>
                                            <li onclick="rate(2, {{ product.id }})">
                                                <i class="fa fa-star {% if product.user_rating > 1 %} checked {% endif %}" title="Rate 2" data-rating="2"></i></li>
                                            <li onclick="rate(3, {{ product.id  }})">
                                                <i class="fa fa-star {% if product.user_rating > 2 %} checked {% endif %}" title="Rate 3" data-rating="3"></i></li>
                                            <li onclick="rate(4, {{ product.id }})">
                                                <i class="fa fa-star {% if product.user_rating > 3 %} checked {% endif %}" title="Rate 4" data-rating="4"></i></li>
                                            <li onclick="rate(5, {{ product.id }})">
                                                <i class="fa fa-star {% if product.user_rating > 4 %} checked {% endif %}" title="Rate 5" data-rating="5"></i></li>
                                        </ul>
                                        {% else %}
                                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#like-login"><i class="far fa-star">Login to rate</i></button>
                                        <!-- Login bootstrap modal-->
                                        <div class="modal" id="like-login" tabindex="-1" role="dialog">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Login</h5>
                                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>You must login to rate a product</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="{% url 'account_login' %}" class="btn btn-primary" aria-label="Login">Login</a>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                        {% endif %}
                                    </a>
                                    <hr />
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
<script>
   // select all stars on the page
   const stars = document.querySelectorAll('.stars i');

// loop over all stars and add a click event listener to each
stars.forEach(star => star.addEventListener('click', event => {
    // find the parent container
    const parent = event.target.parentNode.parentNode;
    // only select the stars that are inside the parent
    const productStars = parent.querySelectorAll('.stars i');
    // get the rating of the clicked star
    const rating = event.target.dataset.rating;

    // set the parent rating
    parent.dataset.rating = rating;

    // loop over the 5 stars
    for (let i = 0; i < 5; i++) {
        // if i is less than than the rating add css otherwise remove
        i < parseInt(rating) ? productStars[i].classList.add('checked'): productStars[i].classList.remove('checked');
    }
}));

stars.forEach(star => star.addEventListener('mouseover', event => {
    // find the parent container
    const parent = event.target.parentNode.parentNode;
    // only select the stars that are inside the parent
    const productStars = parent.querySelectorAll('.stars i');
    // get the rating of the clicked star
    const rating = event.target.dataset.rating;

    // loop over the 5 stars
    for (let i = 0; i < 5; i++) {
        // if i is less than than the rating add the css style otherwise remove it
        i < parseInt(rating) ? productStars[i].style.color = 'orange': productStars[i].style.color = 'unset';
    }
}));

stars.forEach(star => star.addEventListener('mouseout', event => {
    // find the parent container
    const parent = event.target.parentNode.parentNode;
    // only select the stars that are inside the parent
    const productStars = parent.querySelectorAll('.stars i');
    // get the rating of the clicked star
    const rating = parent.dataset.rating;

    // loop over the 5 stars
    for (let i = 0; i < 5; i++) {
        // if i is less than than the rating add the css style  otherwise remove it
        i < parseInt(rating) ? productStars[i].style.color = 'orange': productStars[i].style.color = 'unset';
    }
}));

$('.btt-link').click(function(e) {
    window.scrollTo(0,0);
});


$('#sort-selector').change(function() {
    var selector = $(this);
    var currentUrl = new URL(window.location);

    var selectedVal = selector.val();
    if(selectedVal != "reset"){
        var sort = selectedVal.split("_")[0];
        var direction = selectedVal.split("_")[1];

        currentUrl.searchParams.set("sort", sort);
        currentUrl.searchParams.set("direction", direction);

        window.location.replace(currentUrl);
    } else {
        currentUrl.searchParams.delete("sort");
        currentUrl.searchParams.delete("direction");

        window.location.replace(currentUrl);
    }
});
</script>
{% endblock %}