<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black text-centre mr-5" href="{% url 'home' %}" id="story-link" aria-haspopup="true" aria-expanded="false">
                Our Story
            </a>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-centre text-black" href="#" id="adopting-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ways to Help
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'home' %}#donate" class="dropdown-item">Why Donate?</a>
                <a href="{% url 'home' %}#adopt"  class="dropdown-item">Why adopt?</a>
                <a href="{% url 'home' %}#volunteer" class="dropdown-item">Volunteer or Foster</a> 
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-centre text-black mr-5" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Donate
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-centre text-black mr-5" href="{% url 'homing' %}" id="homing-link" aria-haspopup="true" aria-expanded="false">
                Adopt
            </a>
        </li>
    </ul>
</div>